html {
    background-color: rgb(250, 250, 250);
    color: rgb(14, 14, 14);
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

#map {
    height:100%;
    background-color: rgb(230, 230, 230);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
}

header {
    width:100%;
    margin: 0;
    padding: 1em 0em 1em 0em;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.23);
    z-index:5;
}

h2 {
    font-size: 1.25em;
    text-transform:uppercase;
    width:fit-content;
    margin: auto;
    margin-bottom:0.5em;
    text-align:center;
}

h3 {
    font-weight:normal;
    text-align:center;
}

.leaflet-container {
    line-height: 1;
}

.person {
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items:center;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 0.05em;
    text-align:center;
    font-family: sans-serif;
    cursor:default;
    transition: opacity 0.045s;
    transition: transform 0.1s;
}

.person:hover{
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.2);
}

.leaflet-div-icon {
    border: none;
    background-color:transparent;
}

#person-text {
    min-width:7em;
    padding: 0;
    text-align: center;
    font-weight:bold;
    font-size: 1.1em;
    line-height: normal;
    transition: font-size 0s;
}

#person-name {
    min-width:10em;
}

#person-lifespan {
    margin-top:0.5em;
    font-size:0.875em;
}

.lancaster #person-lifespan:after {
    content:" 🌹";
}

.york #person-lifespan:after {
    content:" 🌼";
}

.tudor #person-lifespan:after {
    content:" 💮";
}

.monarch {
    border-radius:0.5em;
    border: 0.5em solid rgb(214, 182, 0);
}

.heir {
    border-radius:0.5em;
    border: 0.5em solid silver;
}

.bronze {
    border-radius:0.5em;
    border: 0.5em solid  #cd7f32;
}

.faded {
    opacity: 0.1;
}

#top-bar {
    display: flex;
    width: 100%;
    align-items:center;
    flex-direction: row;
}

.verticalLine {
    border-left:1px solid #bfc8fa;
    position:absolute;
}

.horizontalLine {
    border-top:1px solid #bfc8fa;
    position:absolute;
}

#year-description {
    text-align:center;
    margin-top:-2.5em;
    font-size:0.8em;
}

#person-tooltip {
    position:absolute;
    white-space: nowrap;
    display:none;
    font-size:9em;
    width:200%;
    transform:translate(-25%,0);
    color:rgba(167, 167, 167, 0.705);
    font-weight:bold;
}