html {
    background-color: rgb(8, 17, 36);
    color: rgb(230, 221, 221);
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    cursor:grab;
    width:100vw;
    height:100vh;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body:active{
    cursor:grabbing;
}

#root {
    width:100%;
    height:100%;
    overflow: hidden;
}

h1{
    text-align:center;
}

canvas {
    position: absolute;
    width:100%;
}

.person {
    box-sizing: border-box;
    position: absolute;
    border-radius: 0.05em;
    padding-right: 0.5em;
    text-align:center;
    vertical-align: middle;
    width:fit-content;
    height:fit-content;
    font-family: sans-serif;
    border: 0.1em solid rgb(66, 66, 66);
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor:default;
    transition: opacity 0.045s;
    color: rgb(230, 221, 221);
    background: rgb(62,34,0);
    background: linear-gradient(135deg, rgba(62,34,0,1) 0%, rgba(31, 31, 31, 0.85) 100%);
    align-items:center;
    transition: transform 0.1s;
}

.person:hover{
    cursor:pointer;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.2);
}

a {
    all: unset;    
}

.person.lancaster {
    background: rgb(62,34,0);
    background: linear-gradient(135deg, rgba(62,34,0,1) 0%, rgba(162,0,0,0.85) 100%);
}

.person.york {
    background: rgb(62,34,0);
    background: linear-gradient(135deg, rgba(62,34,0,1) 0%, rgba(196,196,196,0.85) 100%);
}

.personText {
    padding: 0 1em;
    text-align: center;
    font-weight:bold;
    font-size: 1em;
    transition: font-size 0s;
}

.onTop {
    position: relative;
    z-index: 7;
}